.about-title {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-title h3 {
  font-size: 25px;
  color: #9d00ff;
  background-color: #9d00ff;
  color: #ffffff;
  box-shadow: 2px 5px 50px -1px #9d00ff;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}
.about-info {
  position: relative;
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px;
}

.about-info h1 {
  text-align: center;
}

.about-info img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.about-info {
  text-align: center;
}

.about-image {
  position: relative;
}

.about-text {
  text-align: left;
  line-height: 15px;
  font-size: 14px;
  margin-top: 20px;
  padding: 10px;
  background-color: #20202a;
  border-radius: 8px;
}

.about {
  margin-top: 50px;
}

.about-image-links img {
  width: 50px;
  height: 50px;
}

.about-image-links {
  position: absolute;
  display: grid;
  left: -30px;
  top: 50%;
  transform: translate(50%, -50%);
}

.about-image-links--desktop {
  display: none;
}

@media (min-width: 768px) {
  .about-text {
    font-size: 16px;
    line-height: 20px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .about-info {
    grid-template-areas:
      "img name"
      "img desc"
      "img link";
    place-items: flex-start !important;
    margin-top: 50px;
    row-gap: 10px;
  }

  .about-image-links--desktop {
    display: flex;
    grid-area: link;
    gap: 5px;
  }
  .about-image-links--desktop img {
    width: 50px;
    height: 50px;
  }
  .about-image {
    grid-area: img;
  }
  .about-text {
    width: 500px;
  }
  .about-text {
    grid-area: desc;
    margin-top: 0px;
  }
  .about-info--name {
    grid-area: name;
    width: 100%;
  }

  .about-info h1 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .about-image-links {
    display: none;
  }

  .about-image img {
    width: 300px;
    height: 300px;
  }
}
