.projects {
  margin-top: 50px;
  padding: 10px;
}

.projects-title {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.projects-title h3 {
  font-size: 25px;
  color: #9d00ff;
  background-color: #9d00ff;
  color: #ffffff;
  box-shadow: 2px 5px 50px -1px #9d00ff;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
}

.projects-explaination {
  padding: 10px;
  color: white;
}
.projects-explaination p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}
.projects-explaination span {
  color: #9d00ff;
  font-weight: bold;
}
.projects-card-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.projects-card {
  position: relative;
  padding: 12px;
  border-radius: 10px;
  background-color: #20202a;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projects-card a {
  text-decoration: none;
}

.projects-card-img {
  display: flex;
  justify-content: center;
}
.projects-card img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.projects p {
  color: white;
}

.icon {
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  right: 5%;
  top: 4%;
}

.icon img {
  object-fit: cover;
  width: 20px;
  height: 20px;
}

.projects-card-text p {
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: 3.5rem;
}

.projects-card-text h3 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #9d00ff;
  font-weight: 400;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 2px;
}

.link img {
  width: 10px;
  height: 10px;
}

.decorContainer {
  filter: blur(6px);
  z-index: -1;
  position: absolute;
  opacity: 0.4;
  overflow: hidden !important;
  width: 100vw;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .projects-explaination p {
    text-align: center;
    font-size: 16px;
  }

  .about-info {
    text-align: center;
    display: grid;
    place-items: center;
  }

  .about-image {
    width: 400px;
  }

  .projects-explaination {
    padding: 40px;
  }
}
